/* possible background img
https://images.pexels.com/photos/1314543/pexels-photo-1314543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(56, 54, 54, 0.6);
}

#header {
    background-image: url("https://images.pexels.com/photos/1314543/pexels-photo-1314543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin: 0px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-cover {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    height: 130px;
    width: 100%;
    
}

#container {
    background-color: #d4fffb;
    color: rgb(30, 27, 27);
    padding: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

#displayMessage {
    color: deeppink;
    display: none;
}

h1 {
    position: relative;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 8vw;
    margin: 0px;
    color: rgb(56, 54, 54);
    z-index: 1000;
}

li {
    padding: 5px;
}

#userGrid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submitButton {
    width: 235px;
    height: 30px;
    background-color: #FB523E;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#directions {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.results {
    display: flex;
    flex-direction: column;
     align-items: center;
}

#displayMessage{
    color: rgb(251,82,62);
    margin: 25px 0px 35px 0px;
    font-size: 5vw;
}

#displayGrid {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    margin: 5px 10px 60px 5px;
}

.gridSquare {
    height: 50px;
    border: solid 1px rgb(56, 54, 54);
    background-color: rgb(255, 214, 214);
}